.detail-view-wrapper {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  display: flex !important;;
  align-items: center !important;;
  justify-content: center !important;
  div:first-child {
    margin: 6em 0;
    margin-top: 3em 0;
  }
  
  .view-icon {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.form-field.mat-form-field {
    margin: 1em 0;
  }
}
.form-detail-view {
  background-color: white;
  padding: 2em;
  width: 75%;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.add-icon {
  float: right;
  margin-right: 100px;
  cursor: pointer;
}
mat-error {
  margin-top: -2em !important;
  margin-bottom: 2.2em !important;
  margin-left: 1em;
  font-size: 1em;
}
mat-icon {
  font-size: 3em;
}
mat-form-field {
  width: 100%;
}

.form-login-submit{
  justify-content: center;
}

.button-container {
  text-align: center;
}
