<div class="header-container" *ngIf="user | async" >
  <mat-sidenav-container [ngClass]="navBarClass"(mouseover)="openNavBar($event)" (mouseout)="openNavBar($event)"
      class="header-sidenav-container" (backdropClick)="close('backdrop')"[routerLink]="'/employees'">
    <mat-sidenav-content >
      <p><button mat-button ><mat-icon class="header-icon">home</mat-icon></button><a *ngIf="navBarClass==='showFullNavBar'">HOME</a></p>
      <mat-divider [style]="{'margin': '0.5em'}"></mat-divider>
      <p (click)="goToEmployees()"><button [ngStyle]="{'margin-top': '1em'}" mat-button >
        <mat-icon class="header-icon">person_add</mat-icon></button><a *ngIf="navBarClass==='showFullNavBar'">Lista de empleados</a></p>
      <p (click)="goToDepartments()"><button mat-button  >
        <mat-icon class="header-icon">work</mat-icon></button><a *ngIf="navBarClass==='showFullNavBar'">Lista de empleados</a></p>
      <mat-divider [style]="{'margin': '1em'}"></mat-divider>
        <p (click)="logOut()"><button mat-button >
        <mat-icon class="header-icon">exit_to_app</mat-icon></button><a *ngIf="navBarClass==='showFullNavBar'">Salir</a></p>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="button-container" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
    <button class="buttonF1">
      <mat-icon>add</mat-icon>
    </button>
    <button class="btn buttonF2" [ngClass]="buttonClass" [routerLink]="'/employees/new'">
      <mat-icon [matTooltip]="'Añadir Empleado'" [matTooltipPosition]="'left'">person_add</mat-icon>
    </button>
    <button class="btn buttonF3" [ngClass]="buttonClass" [routerLink]="'/departments/new'">
      <mat-icon [matTooltip]="'Añadir Departamento'" [matTooltipPosition]="'left'" >work</mat-icon>
    </button>
  </div>
</div>