.header-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
mat-sidenav {
  background-color: lightblue;
  width: 10em;
}

.header-icon {
  font-size: 2em;
  width: 100%;
}
mat-sidenav-container{
  width: 5em;
}

*{
  margin:0;
}

.showFullNavBar {
  width: 15em !important;
}


.buttonF1{
  width:4em;
  height:4em;
  border-radius:100%;
  background:#F44336;
  right:0;
  bottom:0;
  position:absolute;
  margin-right:2.3em;
  margin-bottom:1em;
  border:none;
  outline:none;
  color:#FFF;
  font: size 5em;;
  box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.16), 0 0.2em 0.4em rgba(0,0,0,0.23);
  transition:.3s;  
  cursor: pointer;
}
span{
  transition:.5s;  
}
.buttonF1:hover span{
  transform:rotate(360deg);
}
.buttonF1:active{
  transform:scale(1.1);
}
.btn{
  width:3em;
  height:3em;
  border-radius:100%;
  border:none;
  color:#FFF;
  box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.16), 0 0.2em 0.4em rgba(0,0,0,0.23);
  font-size:1em;
  outline:none;
  position:absolute;
  right:0;
  bottom:0;
  margin-right:2.4em;
  transform:scale(0);
  cursor: pointer;
}
.buttonF2{
  background:#2196F3;
  margin-bottom:6em;
  transition:0.5s;
}
.buttonF3{
  background:#673AB7;
  margin-bottom:10em;
  transition:0.7s;
}
.showAnimation{
  transform:scale(1);
}
