.main-wrapper{
    min-width: 60%;
    max-width: 80%;
    display: flex;
    margin: 20px auto 0 auto;
}

.list {
    width: 100%
}

.card {
    padding: 10px;
}

.edit-icon {
    float: right;
    cursor: pointer;
}
.source__text{
    float: right;
}

.image{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

*{
    margin:0;
  }
  header{
    height:170px;
    color:#FFF;
    font-size:20px;
    font-family:Sans-serif;
    background:#009688;
    padding-top:30px;
    padding-left:50px;
  }
  .container{
    width:90px;
    height:240px;
    position:absolute;
    right:0px;
    bottom:0px;
  }
  .buttonF1{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#F44336;
    right:0;
    bottom:0;
    position:absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
    cursor: pointer;
  }
  span{
    transition:.5s;  
  }
  .buttonF1:hover span{
    transform:rotate(360deg);
  }
  .buttonF1:active{
    transform:scale(1.1);
  }
  .btn{
    width:40px;
    height:40px;
    border-radius:100%;
    border:none;
    color:#FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size:28px;
    outline:none;
    position:absolute;
    right:0;
    bottom:0;
    margin-right:26px;
    transform:scale(0);
    cursor: pointer;
  }
  .buttonF2{
    background:#2196F3;
    margin-bottom:85px;
    transition:0.5s;
  }
  .buttonF3{
    background:#673AB7;
    margin-bottom:130px;
    transition:0.7s;
  }
  .animacionVer{
    transform:scale(1);
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .table-action-icon{
    margin-left: 15px;
    cursor: pointer;
  }