.detail-view-wrapper {
  margin-top: 100px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  .form-field.mat-form-field {
    min-width: 1000px !important;
    width: 1000px;
    margin: 10px;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.add-icon {
  float: right;
  margin-right: 100px;
  cursor: pointer;
}
mat-error {
  margin-top: -25px;
  margin-left: 10px;
}
mat-icon {
  font-size: 3em;
}
.wrapper{
  background-color: white;
  padding: 15px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
}

.form-login-submit{
  justify-content: center;
}

.button-container {
  text-align: center;
}
