.main-wrapper{
    min-width: 60%;
    max-width: 80%;
    display: flex;
    margin: 1.25em auto 0 auto;
    margin-top: 3rem;
}

.list {
    width: 100%
}

.card {
  padding: 0.65em;
}

.edit-icon {
    float: right;
    cursor: pointer;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 0.85em;
  width: 100%;
  cursor: pointer;
}

.table-action-icon{
  margin-left: 0.90em;
  cursor: pointer;
}

.filter-container {
  display: inline-flex;
}

mat-form-field  {
  margin-left: 2rem;
}